<nav class="navbar navbar-light bg-dark">

    <div class="container fluid">

        <h1 style="color:aliceblue">Surabi Restaurant</h1>

        <div class="d-flex">

            <!-- <button style="color: black;">admin</button> -->

            <button routerLink="Login" class="btn btn-danger mx-3">Logout</button>

        </div>

    </div>

</nav>

<div Style="font-style:inherit" class="container">

    <h2> Thanks for ordering </h2>

    <h2>The Amount to be paid:{{totalamount}}</h2>

 

</div>